<div class="con">
    <div class="nav">
        <span class="stuent active"  [routerLinkActive]="['active']">StudentDashboard</span>
        <!-- <span class="stuent" routerLink="teacher" [routerLinkActive]="['active']">teacher</span> -->
    </div>
    <div class="cont">
        <div class="wrapper">
            <div class="card">
                <h4>Attendance</h4>
                <p>...</p>
            </div>
        </div>
        <div class="wrapper">
            <div class="card">
                <h4>Lectures to attend</h4>
                <p>4</p>
            </div>
        </div>
        <div class="wrapper">
            <div class="card">
                <h4>Rank</h4>
                <p>#63</p>
            </div>
        </div>
        <div class="wrapper">
            <div class="card">
                <h4>Marks</h4>
                <p>...</p>
            </div>
        </div>
    </div>
</div>

