<div class="con">
    <div class="nav">
        <span class="stuent active"  [routerLinkActive]="['active']">TeacherDashboard</span>
        <!-- <span class="stuent" routerLink="teacher" [routerLinkActive]="['active']">teacher</span> -->
    </div>
    <div class="cont">
        
        
        <div class="wrapper">
            <div class="card">
                <h4>Attendance</h4>
                <p>...</p>
            </div>
        </div>
        <div class="wrapper">
            <div class="card">
                <h4>Total lectures</h4>
                <p>4</p>
            </div>
        </div>
        <div class="wrapper">
            <div class="card">
                <h4>Top rank student list</h4>
                <p>...</p>
            </div>
        </div>
        <div class="wrapper">
            <div class="card">
                <h4>Worst rank student list</h4>
                <p>...</p>
            </div>
        </div>
    </div>
</div>
